<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Annyeong Store</title>
</head>
<body>
  <h1>My Account Details</h1>
  <br>
  <br>
  <table>
    <tr>
      <th>User Name</th>
      <th>Full Name</th>
      <th>Gender</th>
      <th>Email</th>
      <th>Phone Number</th>
      <th>Address</th>  
    </tr>
    <tr>
      <td><%= data.userName %> </td>
      <td><%= data.Profile.fullName %></td>
      <td><%= data.Profile.gender %></td>
      <td><%= data.Profile.email %></td>
      <td><%= data.Profile.phone %></td>
      <td><%= data.Profile.address %></td>

    </tr>
  </table>
  <a href="/deleteAccount/<%= data.id %> "><button>Delete Account</button></a>
</body>
</html>