<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KPOP Collection</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cantarell&family=Dosis:wght@200&family=Quicksand:wght@500&display=swap" rel="stylesheet">
    <style>
        * {
            margin: 0px;
            padding: 0px;
        }
        .header {
            width: 90vw;
            margin-top: 0;
            padding: 100px;
            background-color: pink;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .header div {
            display: inline-flex; 
            align-items: center;
        }
        a {
            margin: 5px;
        }
        .content-container {
            display: flex;
            flex-wrap: wrap;
            padding: 20px;
            gap: 25px;
            text-align: center;
        }
        .card {
            padding: 10px;
            width: 20vw;
            height: 35vh;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            border-radius: 5px;
            overflow: hidden;
            box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
        }
        .card div {
            width: 100%;
            display: flex;
            justify-content: space-evenly;
        }
        .card img {
            margin: 0 auto;
            width: 400px;
            height: 320px;
            object-fit: contain;
        }
        .card h4 {
            color: grey;
            text-align: center;
        }
        .btn {
            margin: 0 20px;
            padding: 5px 0;
            width: 80px;
            text-align: center;
            text-decoration: none;
            border-radius: 4px;
            background-color: #fba608;
            color: #000000;
        }
        .btn-delete {
            color: white;
            background-color: rgb(243, 56, 56);
        }
    </style>
</head>
<body style="font-family: 'Cantarell', sans-serif;">
    <div class="header">
        <h1 style="color: rgb(255, 255, 255);">Annyeong Store</h1>
        <div>
            <div>
                Sort by
                <a href="http://localhost:3000/?sortBy=title">Title</a>
                <a href="http://localhost:3000/?sortBy=price">Price</a>
            </div>
        </div>
    </div>
    <div class="content-container">
      <% products.forEach(el => {%>
        <div class="card">
            <img src="<%= el.imageUrl %>">
            <div style="text-align: center;">
                <h3 style="font-weight: 200;"><%= el.productName %></h3>
            </div>
            <h3 style="color: maroon;"><%= el.formatPrice %></h3>
            <h4><%= el.Category.categoryName %></h4>
            <a class="btn btn-delete" href="http://localhost:3000/delete/<%= el.id %>">Buy now</a>
        </div>
      <%}) %> 
    </div>
</body>
</html>